#screen{
  height: 600px;
  width: 70%;
  min-width: 860px;
  margin: auto;
  margin-top: 25px;
  border: 10px;
}
.gameBox{
  position: relative;
  height: 600px;
  width: 80%;
  margin: auto;
}
.player{
  height: auto;
  width: auto;
  bottom: 35px;
  background-color: blue;
  border-radius: 50%;
}
.obstacle{
  position: absolute;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  background-color: grey;
}
#menuScreen{
  display: none;
  width: 100%;
  height: 80%;
}
#menubtn{
  text-align: center;
}
body{
  text-align: center;
  font-family: sans-serif;
  color: white;
  background-color: black;
}
img{
  height: 200px;
  width: 200px;
}
